<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventures.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventuresAndroid">
        <activity android:name="eventures.ui.ActivityEvents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eventures.ui.AddEventActivity" />
        <activity android:name="eventures.ui.ActivityConnect" />
        <activity android:name="eventures.ui.LoginActivity" />
        <activity android:name="eventures.ui.RegisterActivity" />
    </application>

</manifest>